#home-title, #home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-card{
  width: 80%;
  margin:5px;
}

#home-image-container{
  width: 50%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

#home-image {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}

@media only screen and (min-width: 1000px) {
  /* #home-container{
    flex-direction: row;
  }
  #home-image-container{
    max-width: 300px;
  } */
  #home-card{
    max-width: 800px;
    margin-bottom: 50px;
  }
}