html,
body,
#root{
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  /* background-color: black; */
  /* dark color is 212529 */
  color: #212529;
}

.btn-dark{
  background-color: #46518B;
}

.btn-outline-dark{
  color:#46518B;
  border-color: #46518B;
}

.project-preview-card{
  max-width: 400px;
}


.project-thumbnail {
  /* max-width : 500px; */
  /* height: 300px; */
  /* width: auto; */
}


.card-image {
  max-width: 400px
}

.contact-form {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 200px;
}

form.contact-form > input, form.contact-form > textarea{
  width: 100%;
  margin-bottom: 10px;
}

form.contact-form > textarea{
  min-height: 100px;
}

main {
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-color: white;
  padding-top: 60px;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Lustria', serif;
  color: #46518B;
}

.page-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

nav a {
  color: white
}

nav a:hover{
  color: white;
  text-decoration-thickness: 3px;
}

.column-centered-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.italic-text{
  font-style:italic;
}


.experience-card {
  margin: 10px;
  background-color: white;
  border: 1px solid lightgrey;
  width: 90%;
  max-width: 800px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.contact-card{
  width: 100%;
  max-width: 600px;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.btn-dark:hover{
  color:#212529;
  background-color: lightgrey;
  border: 1px solid #212529;
}

@media only screen and (min-width: 950px) {
  main{
    margin-top: 50px;
  }
}