html,
body,
#root,
main {
  margin: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: black;
}

/* nav {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0px 15px 0px 15px;
  border-bottom: 1px solid rgb(212, 212, 212);
} */


.project-thumbnail {
  max-width : 500px;
}

main {
  /* height: 100%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-color: royalblue;
  color: white
}

nav{
  background-color: #555;
  color: white;
  padding: 10px 0;
}

nav > ul {
  margin: 0;
}

nav > ul > li > a {
  color: white
}